[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "==2.2.2"
scikit-learn = "==1.0.2"
pydantic = "==1.10.8"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
